<div class="login-container">
 <h1>Log In</h1>
<%= form_for :login do |f| %>

    <%= f.label :email, class:"form-label" %>
    <%= f.text_field :email, autofocus: true, class:"form-control", placeholder: "name@example.com" %>

    <%= f.label :password, class:"col-sm-2 col-form-label" %>
    <%= f.password_field :password, class:"form-control" %>

    <%= f.submit "Log In", class:"btn btn-success" %>

  <button class="btn btn-danger" onclick="location.href='users/edit'">Recover password</button>
<% end %>
</div>
 